<?php

// @desc
// default balafon css configuration
// @variable
// $def : default style
// $xsm_screen : small screen size
// $ctr : controller that initiate the loading
// $css_m: target node classname